<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 添加住客信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
	  <div class="form-group">
        <div class="label">
          <label for="sitename">姓名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="g_name" name="g_name" size="50" placeholder="请输入姓名" data-validate="required:请输入姓名" />       
        </div>
      </div>  
	<div class="form-group">
        <div class="label">
          <label for="sitename">拼音：</label>
        </div>
        <div class="field">
			<input type="text" class="input w50" id="spell" name="spell" size="50" placeholder="名字拼音" data-validate="required:请输入名字拼音" />		
        </div>
      </div>   
	  <div class="form-group">
        <div class="label">
          <label for="sitename">性别：</label>
        </div>
        <div class="field">
			<input type="radio" name="sex" value="男生">男生
			<input type="radio" name="sex" value="女生">女生
        </div>
      </div>
	<div class="form-group">
        <div class="label">
          <label for="sitename">年龄：</label>
        </div>
        <div class="field">
		<input type="text" class="input w50" name="age" id="age" size="50" placeholder="年龄" data-validate="required:请输入年龄"/>
        </div>
      </div>
	<div class="form-group">
        <div class="label">
          <label for="sitename">房间编号：</label>
        </div>
        <div class="field">
		<input type="text" class="input w50" name="r_id" id="r_id" size="50" placeholder="房间编号" data-validate="required:请输入房间编号"/>
        </div>
      </div>
	<div class="form-group">
        <div class="label">
          <label for="sitename">附加信息：</label>
        </div>
        <div class="field">
		<textarea id="introduce" name="introduce" rows="5" cols="40"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body></html>