<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改城市地区</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
	  <div class="form-group">
        <div class="label">
          <label for="sitename">城市地区名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="cs_name" name="cs_name" size="50" placeholder="请输入地区名" data-validate="required:请输入地区名" />       
        </div>
      </div>  
	<div class="form-group">
        <div class="label">
          <label for="sitename">所属小模块：</label>
        </div>
        <div class="field">
          <select name="sp_id" class="input" onchange="changesearch()" style="width:60px; line-height:17px; display:inline-block">
            <option value="">选择</option>
            <option value="0">大堡厦城市</option>
            <option value="1">大都市</option>
			<option value="2">周边地区</option>
          </select>     
        </div>
      </div>   
	  <div class="form-group">
        <div class="label">
          <label for="sitename">城市地区热度：</label>
        </div>
        <div class="field">
		<input type="text" class="input w50" name="Popular" id="Popular" size="50" placeholder="请输入热度" data-validate="required:请输入热度"/>
        </div>
      </div>
     <div class="form-group">
        <div class="label">
          <label for="sitename">所属城市：</label>
        </div>
        <div class="field">
          <select name="sp_id" class="input" onchange="changesearch()" style="width:60px; line-height:17px; display:inline-block">
            <option value="">选择</option>
            <option value="0">凯思恩</option>
            <option value="1">圣灵群岛</option>
			<option value="2"费沙岛</option>
          </select>     
        </div>
      </div>  	  
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body></html>