<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<script type="text/javascript">
$(function(){

    $.getJSON("citiesstates",function (json) {
        var td="";
        for (var i=0;i<json.length;i++){
            if([[${list2.cs_id}]]==json[i].cs_id){
                td+="<option selected value='"+json[i].cs_id+"'>"+json[i].cs_name+"</option>";
            }else{
                td+="<option value='"+json[i].cs_id+"'>"+json[i].cs_name+"</option>";
            }

        }
        $("#citiesstates").append(td);
    });

    $.getJSON("productType","",function(json){
        for (var i = 0; i <json.length ; i++) {
            var tr="";
            if([[${list1.Pt_id}]]==json[i].PT_id){
                tr+="<option selected value='"+json[i].PT_id+"'>"+json[i].PT_name+"</option>";
            }else{
                tr+="<option value='"+json[i].PT_id+"'>"+json[i].PT_name+"</option>";
            }

            $("#product").append(tr);
        }
    });
});
</script>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改酒店产品</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="setProduct" enctype="multipart/form-data">
	  <div class="form-group">
        <div class="label">
          <label for="sitename">产品分类：</label>
        </div>
        <div class="field">
          <select name="product" id="product" class="input"  style="width:200px; line-height:17px;display:inline-block">
            <option value="0">选择</option>
          </select>     
        </div>
      </div>
        <div id='productClass'>

            <div class='form-group'><div class='label'><label for='sitename'>产品ID:</label></div>
                <div class='field'><input type='text' readonly th:value="${list1.Product_id }" class='input w50' name='p_id' id='p_id' size='50' placeholder='请输入购买人数' data-validate='required:请输入购买人数'/>  </div></div>

        <div class='form-group'>
            <div class='label'><label for='sitename'>酒店名称:</label></div>
            <div class='field'>
                  <input type='text' class='input w50' th:value="${list2.h_name }" name='p_name' id='p_name' size='50' placeholder='请输入酒店名称' data-validate='required:请输入酒店名称'/>  </div></div>

        <div class='form-group'><div class='label'><label for='sitename'>购买人数:</label></div>
            <div class='field'><input type='text' readonly th:value="${list2.purchases_Number}" class='input w50' name='purchases_Number' id='purchases_Number' size='50' placeholder='请输入购买人数' data-validate='required:请输入购买人数'/>  </div></div>

        <div class='form-group'><div class='label'><label for='sitename'>星级:</label></div>
            <div class='field'><input type='text' th:value="${list2.Star_class}" class='input w50' name='Star_class' id='Star_class' size='50' placeholder='星级' data-validate='required:星级'/>  </div></div>

        <div class='form-group'><div class='label'><label for='sitename'>价格:</label></div>
            <div class='field'><input type='text' th:value="${list1.P_price}" class='input w50' name='price' id='price' size='50' placeholder='价格' data-validate='required:价格'/>  </div></div>

        <div class='form-group'><div class='label'><label for='sitename'>评分：</label>
            </div><div class='field'><input type='text' th:value="${list2.score }" class='input w50' name='score' id='score' size='50' placeholder='请输入评分：' data-validate='required:请输入评分'/></div> </div>

        <div class='form-group'><div class='label'><label for='sitename'>所属城市：</label></div>
            <div class='field'><select name='citiesstates' id='citiesstates' class='input'  style='width:200px; line-height:17px;display:inline-block' data-validate='required:'>
                <option value=''>选择</option>
                </select></div></div>

        <div class='form-group'><div class='label'><label for='sitename'>描述:</label></div>
            <div class='field'><textarea id='describes' th:text="${list2.describes }" name='describes' rows='5' cols='40'></textarea></div></div>

            <div class='form-group'><div class='label'><label for='sitename'>原始图片：</label></div>
                <div class='field'><img th:src="${list1.P_imgpath }" style="border: solid 1px"  alt='' width='200' height='100' /></div></div>

        <div class='form-group'><div class='label'><label for='sitename'>封面图片:</label></div>
            <div class='field'><input type='file' accept='image/*' class='input w50' name='img' id='img' size='50' placeholder='图片'/></div></div>

            <div class='form-group'><div class='label'><label for='sitename'>原始图片集：</label></div>
                <div th:each="img:${picture}" style="float: left;margin-right: 5px">
                    <img th:src="${img }" name="img" width='120' height='70' style="border: solid 1px;"/>
                </div>
            </div>

        <div class='form-group'><div class='label'><label for='sitename'>图片集合:</label></div>
            <div class='field'><input type='file' accept='image/*'  multiple class='input w50' name='picture' id='picture' size='50' placeholder='图片'/></div></div>

        <div class='form-group'><div class='label'><label for='sitename'>地址:</label></div>
            <div class='field'><input type='text' th:value="${list2.Specific_address }" class='input w50' name='Specific_address' id='Specific_address' size='50' placeholder='地址' data-validate='required:请输入地址'/></div></div>

        <div class='form-group'><div class='label'><label for='sitename'>酒店产品编号:</label></div>
            <div class='field'><input type='text' th:value="${list1.OrderNumber }" class='input w50' name='OrderNumber' id='OrderNumber' size='50' placeholder='产品编号' data-validate='required:请输入产品编号'/></div></div>

        <div class='form-group'><div class='label'><label for='sitename'>酒店优势:</label></div>
            <div class='field'><input type='text' th:value="${list2.tips }" class='input w50' name='tips' id='tips' size='50' placeholder='酒店优势' data-validate='required:酒店优势'/></div></div>

        <div class='form-group'><div class='label'><label for='sitename'>预定须知:</label></div>
            <div class='field'><textarea id='Reservation_Notes' th:text="${list2.Reservation_Notes}" name='Reservation_Notes' rows='5' cols='40'></textarea></div></div>
        <div class='form-group'><div class='label'><label></label></div>
            <div class='field'><button class='button bg-main icon-check-square-o' type='submit'> 提交</button></div></div>
        </div>
    </form>
  </div>
</div>
</body></html>