<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
  <script type="text/javascript" src="scripts/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">
      $(function () {
          $.getJSON("hotel",function(json){
              var tr="";
              for (var i=0;i<json.length;i++){
                  var biaoti="";
                  if(json[i].h_name.length>10){
                      biaoti = json[i].h_name.substring(0,10)+"...";
                  }else{
                      biaoti = json[i].h_name;
                  }
                  if([[${room.h_id}]]==json[i].h_id){
                      tr+="<option selected value='"+json[i].h_id+"'>"+biaoti+"</option>";
                  }else{
                      tr+="<option value='"+json[i].h_id+"'>"+biaoti+"</option>";
                  }
              }
              $("#h_id").append(tr);
          });
      });
  </script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 修改房间信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="setRoom" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label">
          <label for="sitename">房间ID：</label>
        </div>
        <div class="field">
          <input type="text" readonly class="input w50" th:value="${room.rif_id}" id="rif_id" name="rif_id" size="50" placeholder="请输入房间名" data-validate="required:" />
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label for="sitename">房间名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" th:value="${room.rif_name}" id="rif_name" name="rif_name" size="50" placeholder="请输入房间名" data-validate="required:" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">入住人数：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" th:value="${room.occupants_num}" id="occupants_num" name="occupants_num" size="50" placeholder="入住人数" data-validate="required:" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">面积：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" th:value="${room.area}" name="area" id="area" size="50" placeholder="面积" data-validate="required:"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">可入住时间：</label>
        </div>
        <div class="field">
          <input type="date" class="input w50" th:value="${room.Check_time}" name="Check_time" id="Check_time" size="50" placeholder="入住时间" data-validate="required:"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" th:value="${room.price}" name="price" id="price" size="50" placeholder="价格" data-validate="required:,double:"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">介绍：</label>
        </div>
        <div class="field">
          <textarea id="introduce" th:text="${room.introduce}" name="introduce" rows="5" cols="40"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">原始图片:</label>
        </div>
        <div class="field">
          <img th:src="${room.photo}" style="border: solid 1px" name="img" alt='' width='120' height='70' />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">图片：</label>
        </div>
        <div class="field">
          <input type="file" accept="image/*" class="input w50" name="photo" id="photo" size="50" placeholder="图片"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">酒店编号：</label>
        </div>
        <div class="field">
          <select name='h_id' id='h_id' class='input'  style='width:200px; line-height:17px;display:inline-block' data-validate="required:">
            <option value="">选择</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">床型:</label>
        </div>
        <div class="field">
          <input type="text" th:value="${room.bed_type}" class="input w50" name="bed_type" id="bed_type" size="50" placeholder="床型" data-validate="required:"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="sitename">早餐:</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" th:value="${room.breakfast}" name="breakfast" id="breakfast" size="50" placeholder="早餐"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>