<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>
    <script src="js/pintuer.js"></script>
    <script type="text/javascript" src="scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var Chinese_Name=null;
            var English_Name=null;
            var pageNumber=1;
            var pages;
            fenye(Chinese_Name,English_Name,pageNumber);

            function fenye(Chinese_Name,English_Name,pageNumber){
                $.getJSON("findAll","pageNumber="+pageNumber+"&English_Name="+English_Name+"&Chinese_Name="+Chinese_Name,function(json){
                    $("#xianshi tr:not(:first):not(#sxy)").remove();
                    pages=json.totalPage;
                    for (var i=0;i<json.list.length;i++){
                        var list=json.list;
                        var tr="";
                        tr+="";
                        tr+="<tr>";
                        tr+="    <td><input type='checkbox' name='id[]' value='"+list[i].user_id+"' />"+list[i].user_id+"</td>";
                        tr+="    <td>"+list[i].user_name+"</td>";
                        tr+="    <td>"+list[i].Chinese_Name+"</td>";
                        tr+="    <td>"+list[i].English_Name+"</td>";
                        tr+="    <td>"+list[i].Gender+"</td>  ";
                        tr+="    <td>"+list[i].email+"</td>";
                        tr+="    <td><img src='images/11.jpg' alt='' width='120' height='50' /></td> ";
                        if(list[i].Administration=="1"){
                            tr+="    <td>管理员</td>";
                        }else{
                            tr+="    <td>普通用户</td>";
                        }
                        tr+="    <td><div class='button-group'> <a class='button border-main' href='modUser.html'><span class='icon-edit'></span> 修改</a> ";
                        tr+="<a class='button border-red' href='javascript:void(0)' onclick='return del(1,2)'><span class='icon-trash-o'></span> 删除</a> </div></td>";
                        tr+="</tr>";
                        $("#xianshi").append(tr);
                    }
                    $("#xia").nextAll().remove();
                    for(var j=1;j<=pages;j++){
                        var a="";
                        if(pageNumber==j){
                            a+="<span class='current' id='pagination'>"+j+"</span>";
                        }else{
                            a+="<a id='pagination'>"+j+"</a>";
                        }
                        $("#pagelist").append(a);
                    }
                });
            }
            $("#xia").click(function(){
                if(pageNumber>=pages){
                    pageNumber=pages;
                    fenye(Chinese_Name,English_Name,pageNumber);
                }else if(pageNumber<pages){
                    pageNumber=pageNumber+1;
                    fenye(Chinese_Name,English_Name,pageNumber);
                }
            });

            $("#shang").click(function(){
                if(pageNumber<=1){
                    pageNumber=1;
                    fenye(Chinese_Name,English_Name,pageNumber);
                }else{
                    pageNumber=pageNumber-1;
                    fenye(Chinese_Name,English_Name,pageNumber);
                }
            });

            $("#trailerpage").click(function(){
                pageNumber=pages;
                fenye(Chinese_Name,English_Name,pageNumber);
            })

            $("#homepage").click(function(){
                pageNumber=1;
                fenye(Chinese_Name,English_Name,pageNumber);
            })
            $("#pagination").live("click",function () {
                var pagination=$(this).text();
                pageNumber=pagination;
                fenye(Chinese_Name,English_Name,pageNumber);
            });
        });
    </script>
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 用户管理</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
		  <li> <a class="button border-main icon-plus-square-o" href="addUser.html"> 添加用户</a> </li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center" id="xianshi">
      <tr>
        <th width="120">用户ID</th>
        <th>用户昵称</th>
        <th>中文名</th>
        <th>英文名</th>
        <th>性别</th>
        <th>邮箱</th>
		<th>图片</th>
		<th>权限</th>
		<th>操作</th>
      </tr>


      <tr id="sxy">
        <td colspan="8"><div class="pagelist" id="pagelist"> <a id="homepage">首页</a><a id="trailerpage">尾页</a> <a id="shang">上一页</a><a id="xia">下一页</a> </div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>