<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-key"></span> 添加用户</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label for="sitename">用户名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="user_name" name="user_name" size="50" placeholder="请输入用户名" data-validate="required:请输入用户名" />
        </div>
      </div>
	  <div class="form-group">
        <div class="label">
          <label for="sitename">中文昵称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="Chinese_Name" name="Chinese_Name" size="50" placeholder="请输入中文昵称" data-validate="required:请输入中文昵称" />       
        </div>
      </div>  
		<div class="form-group">
        <div class="label">
          <label for="sitename">英文昵称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="English_Name" name="English_Name" size="50" placeholder="请输入英文昵称" data-validate="required:请输入英文昵称" />       
        </div>
      </div>   
	  <div class="form-group">
        <div class="label">
          <label for="sitename">性别：</label>
        </div>
        <div class="field">
          <input type="radio" name="sex" value="男生">男生
		  <input type="radio" name="sex" value="女生">女生
        </div>
      </div>  
		<div class="form-group">
        <div class="label">
          <label for="sitename">出生日期：</label>
        </div>
        <div class="field">
			<input type="date" class="input w50" name="Birthday" id="Birthday" size="50" placeholder="请选择出生日期" data-validate="required:请输入选择出生日期"/>
        </div>
      </div>
	<div class="form-group">
        <div class="label">
          <label for="sitename">手机号码：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="Phone_number" name="Phone_number" size="50" placeholder="请输入手机号码" data-validate="required:请输入手机号码" />       
        </div>
      </div>
<div class="form-group">
        <div class="label">
          <label for="sitename">邮箱：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="email" name="email" size="50" placeholder="请输入邮箱" data-validate="required:请输入邮箱" />       
        </div>
      </div>  
<div class="form-group">
        <div class="label">
          <label for="sitename">头像图片：</label>
        </div>
        <div class="field">
          <input type="file" accept="image/*" class="input w50" id="Head_portrait" name="Head_portrait" size="50" placeholder="请选取图片" data-validate="required:请选取图片" />       
        </div>
      </div> 	 
	<div class="form-group">
        <div class="label">
          <label for="sitename">账号：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" id="Account_number" name="Account_number" size="50" placeholder="请输入账号" data-validate="required:请输入账号" />       
        </div>
      </div>  	  
      <div class="form-group">
        <div class="label">
          <label for="sitename">密码：</label>
        </div>
        <div class="field">
          <input type="password" class="input w50" id="mpass" name="mpass" size="50" placeholder="请输入原始密码" data-validate="required:请输入原始密码" />       
        </div>
      </div>      
      
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>   
        </div>
      </div>      
    </form>
  </div>
</div>
</body></html>