<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cssl.pojo.dao.ProductMapper">

    <select id="productType" resultType="map" >
        SELECT * FROM producttype
    </select>

    <select id="citiesstates" resultType="map">
        SELECT * FROM citiesstates
    </select>

    <select id="findProduct" parameterType="map" resultType="map">
        SELECT * FROM product
    <trim prefix="where" prefixOverrides="or||and">
    <if test="title!='' and title!='null'">
    and Product_Name like concat('%',#{title},'%')
    </if>
    <if test="pt_id!=null and pt_id!=0">
    and pt_id=#{pt_id}
    </if>
    <if test="p_cid!=null and p_cid!=0">
    and p_cid=#{p_cid}
    </if>
    </trim>
    <if test="index!=null and size!=null">
        LIMIT #{index},#{size}
    </if>
    </select>

    <select id="productSize" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <insert id="addProduct" parameterType="map">
        INSERT INTO product(Product_Name,Pt_id,P_cid,P_imgpath,P_price)VALUES(#{product_name},#{pt_id},#{p_cid},#{p_imgpath},#{p_price})
    </insert>

    <select id="selectP_id" parameterType="String" resultType="map">
        SELECT * FROM product WHERE product_name=#{product_name}
    </select>

    <insert id="addtourismproducts" parameterType="map">
        INSERT INTO tourismproducts(tp_name,Days_play,purchases_Number,price,comments_Number,describes,Collectors_Number,Strategy,Expensestatement,ReservationNotes,itrip,Product_id,picture) VALUES(#{tp_name},#{Days_play},#{purchases_Number},#{price},#{comments_Number},#{describes},#{Collectors_Number},#{Strategy},#{Expensestatement},#{ReservationNotes},#{itrip},#{Product_id},#{picture})
    </insert>

    <insert id="addhotel" parameterType="map">
        INSERT INTO hotel(h_name,Product_id,purchases_Number,Star_class,cs_id,describes,Specific_address,score,Reservation_Notes,picture1,tips)VALUES(#{h_name},#{Product_id},#{purchases_Number},#{Star_class},#{cs_id},#{describes},#{Specific_address},#{score},#{Reservation_Notes},#{picture1},#{tips})
    </insert>

    <select id="selProCount" resultType="int" parameterType="map">
        SELECT COUNT(*) FROM product WHERE product_name=#{product_name} and p_cid=#{p_cid}
    </select>
</mapper>