<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.pojo.dao.UserMapper">
    <select id="findAll" resultType="map" parameterType="map">
        SELECT * FROM  `user`
    <trim prefix="where" prefixOverrides="or||and">
    <if test="chinese_name!='' and chinese_name!='null'">
        and Chinese_Name like concat('%',#{chinese_name},'%')
    </if>
    <if test="english_name!='' and english_name!='null'">
         and English_Name like concat('%',#{english_name},'%')
    </if>
    and Administration=2
    </trim>
        order by user_id desc
    <if test="index!=null and size!=null">
        LIMIT #{index},#{size}
    </if>
    </select>

    <insert id="addUser" parameterType="map">
        INSERT INTO `user`(user_name,Chinese_Name,English_Name,Gender,Birthday,Phone_number,email,Account_number,`Password`,Head_portrait,Administration)VALUES(#{user_name},#{Chinese_Name},#{English_Name},#{Gender},#{Birthday},#{Phone_number},#{email},#{Account_number},#{Password},#{Head_portrait},#{Administration})
    </insert>

    <delete id="deluser" parameterType="int">
        DELETE FROM `user` WHERE user_id=#{u_id}
    </delete>

    <select id="whereuid" parameterType="int" resultType="map">
        SELECT * FROM `user` WHERE user_id=#{u_id}
    </select>

    <update id="modUser" parameterType="map">
        UPDATE `user` SET user_name=#{user_name} ,Chinese_Name=#{Chinese_Name} ,English_Name=#{English_Name} ,Gender=#{Gender} ,Birthday=#{Birthday} ,`Password`=#{newpass} ,Head_portrait=#{Head_portrait} ,Administration=#{admin} WHERE user_id=#{user_id}
    </update>

    <update id="modUser1" parameterType="map">
        UPDATE `user` SET user_name=#{user_name} ,Chinese_Name=#{Chinese_Name} ,English_Name=#{English_Name} ,Gender=#{Gender} ,Birthday=#{Birthday} ,`Password`=#{newpass} ,Administration=#{admin} WHERE user_id=#{user_id}
    </update>

    <select id="selUserAdmin" resultType="map" parameterType="map">
        SELECT * FROM `user` WHERE Account_number=#{account} and `Password`=#{pass}
    </select>

    <select id="userIsTwo" resultType="map">
        select * from `user` where Administration=2
    </select>

    <update id="setblock" parameterType="map">
        UPDATE `user` SET block=#{num} where user_id=#{id}
    </update>
</mapper>